<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soplong.dao.article.ArticleContentMapper">

    <update id="delContent" parameterType="int">
        update article_content set del_flag = 1 where article_id = #{id} and del_flag = 0
    </update>

</mapper>